html,
body {
    margin-left: 0.5%;
    margin-top: 1%;
    font-family: 'Roboto', sans-serif;
    background: var(--page-background);
    touch-action: manipulation !important;
}

div {
    text-align: center;
}

.grid {
    width: 99vw;
    height: 98vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 20% 15%;
    grid-gap: 0;
    grid-row-gap: 3%;
}

.title {
    color: var(--default-text);
    text-align: center;
    font-size: 12vmin;
}

.input {
    width: 75vw;
    background: var(--canvas-background);
    border: 2px solid var(--default-text);
    border-radius: 2vmin;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 8vmin;
    text-align: center;
    margin-bottom: 10vh;
    color: var(--default-text);
}

.submit {
    padding: 2%;
    border: 0;
    border-radius: 2vmin;
    background: var(--canvas-background);
    color: var(--default-text);
    font-size: 10vmin;
    text-align: center;
}