:root {
    --danger-color: darkred;
    --go-color: green;
    --canvas-background: lightskyblue;
    --page-background: snow;
    --state-button-color: grey;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}