html, body {
    overflow: hidden;
    position: fixed;
    margin: 0;
    background: var(--page-background);
    font-size: 1.5vmin;
    width: 100%;
    height: 100%;
}

.stateButton {
    display: block;
    width: auto;
    height: auto;
    font-size: 2em;
    border: 0;
    margin: 0;
    padding: 0.5em;
    background: var(--state-button-color);
    color: var(--default-text);
}

.leftButton {
    border-radius: 1rem 0 0 1rem;
}

.rightButton {
    border-radius: 0 1rem 1rem 0;
}

.roundedButton {
    border-radius: 1rem;
}


/*timer*/
.timerDisplay {
    position: relative;
    top: 0;
    width: 100vw;
    height: 15px;
    text-align: right;
    background: var(--page-background);
    display: inline-block;
}

.timerBar {
    background: red;
    animation-name: timerWidth;
    animation-timing-function: linear;
    animation-duration: 90s;
    height: 15px;
    float: left;
    display: none;
}


/*wordGuessingInstructionsSection*/
#guessingWordInstructions {
    width: 100%;
    height: 4vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 6vmin;
    font-family: overlock, serif;
    margin: 1vmin;
    padding: 0;
}


/*imageToGuessFromSection*/
#imageToGuessFromSection {
    background: var(--canvas-background);
    margin-top: 6vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
    width: 75vh;
    max-height: 70vh;
    height: 70vw;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid black;
    overflow: hidden;
    display: none;
}

#imageToGuessFrom {
    width: 100%;
    height: 100%;
}


/*guessedWordSection*/
#guessedWordSection {
    margin: 1vh auto;
    max-width: 75vw;
    width: 75vh;
    align-items: center;
    display: none;
    flex-direction: column;
    border: 0;
}

#wordGuessInput {
    background: var(--canvas-background);
    font-family: overlock, serif;
    font-size: 5vmin;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid black;
    margin: 0;
    padding: 0.25em 0 0.25em 0;
    width: 100%;
    height: 100%;
}


/*wordToBeDrawnSection*/
#wordToBeDrawnSection {
    display: none;
}

#wordToBeDrawnWrapper {
    width: 100vw;
    height: 6vmin;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#wordToBeDrawn {
    font-size: 6vmin;
    font-family: overlock, serif;
    margin: 1vmin;
    padding: 1vmin;
}


/*canvasSection*/
#canvasSection {
    display: none;
}

#canvasHolder {
    width: 100vw;
    text-align: center;
    padding-top: 2.5vh;
}

#canvasWrapper {
    background: var(--canvas-background);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    max-width: 75vw;
    width: 75vh;
    max-height: 70vh;
    height: 70vw;
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid black;
}

#canvas {
    width: 100%;
    height: 100%;
}

#controlPanel {
    padding: 2.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#clearButton {
    background: var(--danger-color);
}


/*telestrationDisplaySection*/
#telestrationDisplaySection {
    width: 100%;
    height: 93%;
    display: none;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 5vh;
    position: relative;
}

.telestrationsWordWrapper {
    margin-top: 4vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
    width: 75vh;
    text-align: center;
}

.telestrationsWord {
    margin: 0;
    font-family: overlock, serif;
    font-size: 5rem;
}

.telestrationsNameWrapper {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
    width: 75vh;
    text-align: center;
}

.telestrationsName {
    margin: 0 0 1em 0;
    font-family: overlock, serif;
    font-size: 2.5rem;
}

.telestrationsImageWrapper {
    margin-top: 4vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 55vw;
    width: 55vh;
    max-height: 55vh;
    height: 55vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--canvas-background);
}

.telestrationsImage {
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}


/*ratingSection*/
#ratingWrapper {
    text-align: center;
    width: 100%;
    height: 20%;
}

.ratingStar {
    background-image: url("../../assets/images/empty-star.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5vh;
    background-color: var(--page-background);
    width: 5vmax;
    height: 5vmax;
    border-radius: 12vmin;
    border: none;
    align-items: center;
    position: relative;
    margin: 2.5vmin;
}

.ratingStar:active {
    filter: brightness(100%);
}


/*doneButtonSection*/
#doneButtonSection{
    width: 100%;
    text-align: center;
    margin: 0;
}

.doneButtonWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vmin 0 2vmin 0;
}

.doneButton {
    background: var(--go-color);
}


/*loadingPage*/
#loadingPage{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--page-background);
}

#loader {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: rebeccapurple;
    animation: spin 3s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: green;
    animation: spin 4s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: dodgerblue;
    animation: spin 2s linear infinite;
}


/*animations*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes timerWidth {
    0% {
        width: 0;
        background: lime;
    }
    50% {
        background: lime;
    }
    60% {
        background: orange;
    }
    70% {
        background: orange;
    }
    80% {
        background: red;
    }
    81% {
        background: red;
    }
    81.75% {
        background: yellow;
    }
    82.5% {
        background: red;
    }
    83.25% {
        background: yellow;
    }
    84% {
        background: red;
    }
    84.75% {
        background: yellow;
    }
    85.5% {
        background: red;
    }
    86.25% {
        background: yellow;
    }
    87% {
        background: red;
    }
    87.75% {
        background: yellow;
    }
    88.5% {
        background: red;
    }
    100% {
        width: 100vw;
        background: red;
    }
}