html, body {
    overflow: hidden;
    position: fixed;
    margin: 0;
    background: var(--page-background);
    font-size: 1.5vh;
    width: 100%;
    height: 100%;
}

#playerNameHolder{
    background-color: gray;
    border-color: black;
    padding: 1vh 1vw;
    border-radius: 2vmin;
    margin: 1vmin;
    height: 5vh;
    position: absolute;
    text-align: center;
}

#playerName{
    margin: 0;
    font-family: overlock, serif;
    font-size: 4vmin;
}

#drawingPage {
    display: none;
}

#wordToBeDrawnWrapper {
    width: 100vw;
    height: 6vmin;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#wordToBeDrawn{
    font-size: 6vmin;
    font-family: overlock, serif;
    margin: 1vmin;
    padding: 1vmin;
}

#canvasHolder {
    width: 100vw;
    text-align: center;
    padding-top: 2.5vh;
}

#canvasWrapper {
    background: var(--canvas-background);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    max-width: 75vw;
    width: 75vh;
    max-height: 70vh;
    height: 70vw;
}

#canvas {
    width: 100%;
    height: 100%;
}

#controlPanel {
    text-align: center;
    padding: 2.5vh;
}

#clearButton {
    background: var(--danger-color);
}

#doneButton {
    background: var(--go-color);
}

.stateButton {
    width: auto;
    height: auto;
    font-size: 2em;
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em;
    background: var(--state-button-color);
}

#wordGuessingPage {
    display: block;
}

#guessingWordInstructions{
    width: 100%;
    height: 4vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 6vmin;
    font-family: overlock, serif;
    margin: 1vmin;
    padding: 0;
}

#imageToGuessFromWrapper {
    background: var(--canvas-background);
    margin-top: 6vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
    width: 75vh;
    max-height: 70vh;
    height: 70vw;
}

#imageToGuessFrom {
    width: 100%;
    height: 100%;
}

#guessedWordWrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 73vmin;
    width: 73vmin;
    height: 8vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#wordGuessInput{
    background: var(--canvas-background);
    font-family: overlock, serif;
    font-size: 5vmin;
    margin: 1vmin;
    border-radius: 3vmin;
    border-color: black;
    padding: 1vmin;
    width: 100%;
    height: 100%;
}

#doneButtonForGuessPage {
    background: var(--go-color);
    height: auto;
    width: auto;
}