html, body {
    overflow: hidden;
    position: fixed;
    margin: 0;
    background: var(--page-background);
    font-size: 1.5vh;
    width: 100%;
    height: 100%;
}

.stateButton {
    width: auto;
    height: auto;
    font-size: 2em;
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em;
    background: var(--state-button-color);
}


/*wordGuessingInstructionsSection*/
#guessingWordInstructions {
    width: 100%;
    height: 4vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 6vmin;
    font-family: overlock, serif;
    margin: 1vmin;
    padding: 0;
}


/*imageToGuessFromSection*/
#imageToGuessFromSection {
    background: var(--canvas-background);
    margin-top: 6vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
    width: 75vh;
    max-height: 70vh;
    height: 70vw;
    text-align: center;
}

#imageToGuessFrom {
    width: 100%;
    height: 100%;
}


/*guessedWordSection*/
#guessedWordSection {
    margin: 1vh auto;
    width: 75vmin;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#wordGuessInput {
    background: var(--canvas-background);
    font-family: overlock, serif;
    font-size: 5vmin;
    text-align: center;
    border-radius: 3vmin;
    border-color: black;

    width: 100%;
    height: 100%;
}


/*wordToBeDrawnSection*/
#wordToBeDrawnWrapper {
    width: 100vw;
    height: 6vmin;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#wordToBeDrawn {
    font-size: 6vmin;
    font-family: overlock, serif;
    margin: 1vmin;
    padding: 1vmin;
}


/*canvasSection*/
#canvasHolder {
    width: 100vw;
    text-align: center;
    padding-top: 2.5vh;
}

#canvasWrapper {
    background: var(--canvas-background);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    max-width: 75vw;
    width: 75vh;
    max-height: 70vh;
    height: 70vw;
}

#canvas {
    width: 100%;
    height: 100%;
}

#controlPanel {
    text-align: center;
    padding: 2.5vh;
}

#clearButton {
    background: var(--danger-color);
}


/*telestrationDisplaySection*/
#telestrationDisplaySection {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    position: relative;

}

.telestrationsWordWrapper {
    margin-top: 2vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 75vw;
    width: 75vh;
    text-align: center;
    font-family: overlock, serif;
    font-size: 5vmin;
}

.telestrationsWord {
    margin: 0;
}

.telestrationsImageWrapper {
    margin-top: 2vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 55vw;
    width: 55vh;
    max-height: 55vh;
    height: 55vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--canvas-background);
}

.telestrationsImage {
    margin: 0;
    height: 100%;
    width: 100%;
}


/*ratingSection*/
#ratingWrapper {
    text-align: center;
    width: 100%;
    height: 20%;
}

.ratingStar {
    background-image: url("../../assets/images/empty-star.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5vh;
    background-color: var(--page-background);
    width: 5vmax;
    height: 5vmax;
    border-radius: 12vmin;
    border: none;
    align-items: center;
    position: relative;
    margin: 2.5vmin;
}


/*doneButtonSection*/
#doneButtonSection{
    width: 100%;
    text-align: center;
    margin: 0;
}

.doneButtonWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vmin;

}
.doneButton {
    background: var(--go-color);
}


/*loadingPage*/
#loadingPage{
    display: none;
    width: 100vw;
    height: 100vh;
    background: var(--white);
}

#loader {
    display: block;
    position: absolute;
    left: 43%;
    top: 43%;
    width: 300px;
    height: 300px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: rebeccapurple;
    animation: spin 3s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: green;
    animation: spin 4s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: dodgerblue;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
